adal==1.2.7
aiodns==3.2.0
aiofiles==24.1.0
aiohttp==3.9.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
aiounittest==1.3.0
annotated-types==0.7.0
anyio==4.4.0
applicationinsights==0.11.9
asgiref==3.8.1
asyncio==3.4.3
attrs==23.2.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1
Babel==2.9.1
blinker==1.8.2
blis==0.7.11
botbuilder==0.0.1
botbuilder-ai==4.16.1
#botbuilder-applicationinsights==4.16.1
botbuilder-core==4.16.1
botbuilder-dialogs==4.16.1
botbuilder-integration-aiohttp==4.16.1
#botbuilder-integration-applicationinsights-aiohttp==4.16.1
botbuilder-schema==4.16.1
botframework-connector==4.16.1
botframework-streaming==4.16.1
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.5
cryptography==42.0.8
cymem==2.0.8
datedelta==1.4
Deprecated==1.2.14
distro==1.9.0
Django==3.2.24
djangorestframework==3.14.0
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
flask==3.0.3
frozenlist==1.4.1
fuzzywuzzy==0.18.0
grapheme==0.6.0
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
importlib_metadata==8.0.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==1.4.2
langcodes==3.4.0
language_data==1.2.0
Levenshtein==0.25.1
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
microsoft-kiota-abstractions==1.3.3
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.2
msal>=1.29.0
msal-extensions==1.2.0
msgraph-core==1.1.2
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.0.5
multipledispatch==1.0.0
murmurhash==1.0.10
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
Office365-REST-Python-Client==2.5.11
openai==1.23.6
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
packaging==24.1
pandas==2.2.2
pathlib_abc==0.1.1
pathy==0.11.0
portalocker==2.10.1
preshed==3.0.9
priority==2.0.0
pycares==4.4.0
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.18.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.25.1
pytz==2024.1
Quart==0.19.6
rapidfuzz==3.9.5
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
regex==2024.5.15
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
setuptools==71.0.4
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.1
srsly==2.4.8
std-uritemplate==1.0.5
tenacity==8.5.0
thinc==8.2.5
tqdm==4.66.4
typer==0.9.4
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.10.0
urllib3==1.26.18
wasabi==1.1.3
weasel==0.3.4
Werkzeug==3.0.2
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
xi.sdk.resellers==1.1.0
yarl==1.9.4
zipp==3.19.2
