python-dotenv==1.0.1
flask==2.2.5
botbuilder-core==4.14.7
botbuilder-schema==4.14.7
botframework-connector==4.14.7
botbuilder-dialogs==4.14.7
botbuilder-ai==4.14.7
botbuilder-applicationinsights==4.14.7
botbuilder-integration-applicationinsights-aiohttp==4.14.7
azure-cognitiveservices-language-luis==0.2.0
azure-identity==1.17.1
msgraph-core==1.1.2
msrest==0.7.1
requests==2.31.0
aiodns==3.0.0
pandas==2.1.1
openpyxl==3.1.2
office365-rest-python-client==2.4.1
gunicorn==21.2.0
xi.sdk.resellers==1.1.0
openai==0.28.1
asyncio==3.4.3
wheel==0.43.0